@import './scss/variables';
@import './scss/breakpoints';
@import './scss/mixins.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  img {
    display: block;
  }
  
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  ul{
    list-style-type: none;
  }
  body{
    background-color: $green;
    font-family: $font-family, $second-family;
    color: $main-text;
    overflow-x: hidden;
    width: 100%;
    flex-wrap: wrap;
  }
 
  .container {
    padding: 0 20px;
    margin: 0 auto;
    @include media(mobile){
      max-width: 375px;
    }
    @include media(tablet){
      padding: 0 32px;
      max-width: 768px;
    }
    @include media(desktop){
      padding: 0 100px;
      max-width: 1280px;
    }
  }
  
  // @media only screen and (min-width: 375px) {
  //   .container {
  //     max-width: 375px;
  //   }
  // }
  
  // @media only screen and (min-width: 768px) {
  //   .container {
  //     padding: 0 32px;
  //     max-width: 768px;
  //   }
  // }
  
  // @media only screen and (min-width: 1280px) {
  //   .container {
  //     padding: 0 100px;
  //     max-width: 1280px;
  //   }
  // }