    $_black: #141414;
    $_green: #576F35;
    $_beetroot: #7A3145;
    $_main_text: #FBFBFB;
    $_faded: #7a31447d;
    $_font_family: "Inter Tight", serif;
    $_second_family: "Abril Fatface", serif;