@use '../scss/vars';
@use '../scss/mixins';
.footer{
    background-color: vars.$beetroot;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerContent{
    display: flex;
    flex-direction: column;
    max-width: 296px;
    @include mixins.media (tablet){
        flex-direction: row;
        justify-content: space-between;
        max-width: none;
    }
}
.footerLogoBox{
    @include mixins.media (tablet){
        max-width: 265px;
    }
}
.footerLogo{
    min-width: 168px;
    @include mixins.media (tablet){
        min-width: 194px;
        min-height: 18px;
    }
}

.footerLogoBox p{
    font-family: vars.$second_family;
font-weight: 400;
font-size: 14px;
line-height: 129%;
color: vars.$main_text;
margin-top: 14px;
margin-bottom: 40px;
@include mixins.media (tablet){
    font-size: 16px;
    line-height: 125%; 
    margin-top: 25px;
}
}


.footerInfo {
    display: flex;
    flex-direction: column;
    @include mixins.media(tablet){
        min-width: 215px;
    }
    @include mixins.media (desktop){
        flex-direction: row;
        gap: 121px;
    }
}
.footerContacts{
    margin-top: 40px;
    max-width: 179px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    @include mixins.media (tablet){
        margin-top: 64px;
        gap: 25px;
    }
    @include mixins.media(desktop){
        margin-top: 0;
    }
}
.footerContacts p{
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
color: vars.$main_text;
@include mixins.media(tablet){
  font-size: 18px;
line-height: 111%;  
}
}

 .footerPolicy{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
 }

 .footerPolicy p {
    font-weight: 400;
font-size: 12px;
line-height: 133%;
letter-spacing: -0.01em;
color: rgba(251, 251, 251, 0.5);
@include mixins.media(tablet){
    font-size: 18px;
line-height: 111%;
}
 }

