// @import '../scss/variables';
// @import '../scss/mixins';
@use '../scss/vars';
@use '../scss/mixins';
header{
     background-color: transparent;
        position: absolute;
        width: 100%;
        top: 20px;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-logo{
    width: 194px;
    height: 18px;
}
.b-menu {
    display: flex;
    width: fit-content;
    height: auto;
    @include mixins.media(desktop){
        display: none;
    }
}

.header-nav{
    display: none;
    @include mixins.media (desktop){
    display: flex;    
    align-items: center;
    gap: 20px;
    }
}
.open{
  background-color: vars.$beetroot;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 20px;    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mixins.media (tablet){
    width: 50%;
    left: 50%;
  }
}
.back-drop{
    width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.back-drop-open{
    opacity: 1;
  visibility: visible;
}
.close-menu-btn{
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
    @include mixins.media (desktop){
        display: none;
    }
}
.header-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-height: 52px;
    height: auto;
    @include mixins.media (desktop){
        flex-direction: row;
    }
  }

  .header-menu-link {
    display: block;
    font-family: vars.$second_family;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: capitalize;
    color: vars.$main_text;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    background-color: transparent;
    transition: color 250ms linear, background-color 250ms linear;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #7a3145;
    background-color: #fbfbfb;
  }
.header-btn {
    width: fit-content;
    padding: 16px 32px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;    
    background-color: vars.$main_text;
    color: vars.$beetroot;
    transition: background-color 250ms linear;
    align-self: center;
    @include mixins.media (desktop){
        background-color: vars.$beetroot;
        color: vars.$main_text;
    }
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: vars.$beetroot;
    color: vars.$main_text;
    @include mixins.media (desktop){
        background-color: vars.$main_text;
        color: vars.$beetroot;
    }
  }