@import '../scss/variables';
@import '../scss/mixins';

header{
     background-color: transparent;
        position: absolute;
        width: 100%;
        top: 20px;
    // @include media (desktop){
       
    // }
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    position: relative;
}
.b-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 2.25rem;
    height: 2rem;
    
}
.b-menu span {
    height: 0.4rem;
    width: 100%;
    background-color: $_main_text;
    border-radius: 0.2rem;
    @include media (desktop){
        display: none;
    }
}
.header-nav{
    display: none;

    @include media (desktop){
        display: flex;    
        align-items: center;
    gap: 20px;
    }
}
.open{
    display: flex;
    background-color: #622133;
}
.header-menu-list {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 52px;
  }

  .header-menu-link {
    font-family: $_second_family;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: $_main_text;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    background-color: transparent;
    transition: color 250ms linear, background-color 250ms linear;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #7a3145;
    background-color: #fbfbfb;
  }
.header-btn {
    padding: 16px 32px;
    border-radius: 30px;
    border: none;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    transition: background-color 250ms linear;
  }

  .header-btn:hover,
  .header-btn:focus {
    background-color: #622133;
  }