@import '../scss/variables';
@import '../scss/mixins';

.hero{
    background-color: #576f35;
  max-width: 375px;
  min-height: 774px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../images/hero_1x_min.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0 auto;
  overflow-x: hidden;
  @include media(tablet){
    max-width: 768px;
    min-height: 1024px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero_1x_min.jpg);
    background-size: 100% 539px;
  }
  @include media(desktop){
    max-width: 1280px;
    min-height: 800px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero_1x_min.jpg);
    background-size: 650px 100%;
    background-position: right top;
  }
}

.hero-content {
    max-width: 335px;
    min-height: 302px;
    padding: 100px 0 0 0;
    @include media(tablet){
        max-width: 704px;
        min-height: 313px;
        padding: 122px 0 0 0;
    }
    @include media(desktop){
      padding: 238px 0px 50px 0px;
        max-width: 502px;
        min-height: 562px;  
    }
        
      }
.hero-title{
    letter-spacing: 1.5;
    margin-bottom: 20px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $main-text;
    @include media(tablet){
        font-size: 76px;
    margin-bottom: 25px;
    line-height: 100%;

    }
    @include media(desktop){
        margin-bottom: 128px;
    }
    }
    .hero-text{
        font-family: $second-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: $main-text;
    margin-bottom: 40px;
    @include media(tablet){
    padding-bottom: 0;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 125%;
    }
    @include media(desktop){
        font-size: 16px;
        line-height: 125%;
    }
    }
    
    
    
    