// @import '../scss/variables';
// @import '../scss/mixins';
// @use '../scss/variables';
@use '../scss/vars';
@use '../scss/mixins';

.hero-section .container {
  padding: 0;
}
.hero{
  display: flex;
  flex-direction: column;
  @include mixins.media (desktop){
flex-direction: row;
  }
}

.hero-image{
  background-image: url(../images/hero_1x_min.jpg);
// min-width: 375px;
width: 100%;
min-height: 370px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
@include mixins.media (tablet){
  min-height: 539px;
  // min-width: 768px;
}
@include mixins.media (desktop){
width: 50%;
flex-shrink: 0;
}
}
.hero-content {
    min-height: 302px;
    padding: 100px 20px 0 20px;
    @include mixins.media(tablet){
        max-width: 768px;
        min-height: 313px;
        padding: 122px 32px 50px;
    }
    @include mixins.media(desktop){
      padding: 238px 28px 158px 100px;
        min-height: 800px;

        flex-shrink: 1;
    }
        
      }
.hero-title{
    letter-spacing: 1.5;
    margin-bottom: 20px;
    font-family: vars.$font_family;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: vars.$main_text;
    @include mixins.media(tablet){
        font-size: 76px;
    margin-bottom: 25px;
    line-height: 100%;

    }
    @include mixins.media(desktop){
        margin-bottom: 128px;
    }
    }
    .hero-text{
        font-family: vars.$second_family;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: vars.$main_text;
    margin-bottom: 40px;
    @include mixins.media(tablet){
    padding-bottom: 0;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 125%;
    }
    @include mixins.media(desktop){
        font-size: 16px;
        line-height: 125%;
    }
    }
    
    
    
    