@use './vars';
@use './mixins';
.scroll-up{
    background-color: vars.$green;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 5%;
    left: 5%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    display: none;
    @include mixins.media (desktop){
        width: 56px;
        height: 56px;
}
}
.scroll-up-show{
    display: block;
}
.up-icon{
    width: inherit;
    height: inherit;
    border-radius: 50%;

}