// @import '../scss/variables';
// @import '../scss/mixins';

@use '../scss/vars';
@use '../scss/mixins';
.organicVege {
    background-color: vars.$beetroot;
    padding: 80px 20px;
    @include mixins.media (desktop){
        padding: 100px;
    }
}

.organicVege h2{
font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
@include mixins.media (tablet){
    font-size: 64px;
line-height: 100%;
max-width: 508px;
}
}
.organicVege h2 span {
    color: rgba(251, 251, 251, 0.3);
}
.organicVege p{
    font-family: vars.$second_family;
    font-weight: 400;
font-size: 14px;
line-height: 129%;
margin-top: 20px;
margin-bottom: 40px;
@include mixins.media (tablet){
    font-size: 16px;
    line-height: 125%;
    max-width: 626px;
    margin-top: 50px;
    margin-bottom: 50px;
}
}
.vegeList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.vegeList li {
    background-color: vars.$main_text;
    padding: 32px 26px;
    border-radius: 40px;
    @include mixins.media (tablet){
        padding: 32px 30px;
        flex-grow: 1;
    }
}
.vegeList h3 {
    color: vars.$beetroot;
    font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
margin-bottom: 12px;
@include mixins.media (tablet){
    font-size: 32px;
}
}

.vegeList p {
    color: vars.$black;
    font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
@include mixins.media (tablet){
    font-size: 14px;
    line-height: 129%;
    margin-top: 0;
    margin-bottom: 10px;
}
}
.vegeList img {
    width: 282px;
height: 243px;
}